<app-header></app-header>

<main>
  <h1>Menu</h1>
  <p>Pizza Artesanal&nbsp;&nbsp;&nbsp; <img src="assets/1.jpg" alt="Pizza Artesanal" width="250px" height="150px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pastel;&nbsp;&nbsp;&nbsp;<img src="assets/imagenes/2.jpg" alt="Pastel" width="250px" height="150px">
  <p>Ensalada&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="assets/imagenes/3.jpg" alt="Ensalada" width="250px" height="150px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Coctel&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/imagenes/4.jpg" alt="Coctel" width="250px" height="150px">
  <p>Hamburguesa&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="assets/imagenes/5.jpg" alt="Hmaburguesa" width="250px" height="150px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </main>

<app-footer></app-footer>
