<app-header></app-header>

<main>
  <h1>Menu</h1>
  <p>Pizza 
    <select> 
      <option value="1">Pizza Suprema</option> 
      <option value="2">Pizza de Queso</option> 
      <option value="3">Pizza de Peperoni</option> 
      </select> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    <img src="/assets/imagenes/1.jpg" width="250px" height="150px"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Pastel
      <select> 
        <option value="1">Pastel de Vainilla</option> 
        <option value="2">Pastel de Chocolate</option> 
        <option value="3">Pastel de Fresa</option> 
        </select>&nbsp;&nbsp;&nbsp;<img src="/assets/imagenes/2.jpg" alt="Pastel" width="250px" height="150px"></p>
  <p>Ensalada
    <select> 
      <option value="1">Ensalada de Pollo</option> 
      <option value="2">Ensalada de Carne</option> 
      <option value="3">Ensalada de Fruta</option> 
      </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="/assets/imagenes/3.jpg" alt="Ensalada" width="250px" height="150px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;Coctel
      <select> 
        <option value="1">Coctel de frutos rojos</option> 
        <option value="2">Coctel de frutas y alcohol</option> 
        <option value="3">Coctel de de frutos azules</option> 
        </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/assets/imagenes/4.jpeg" alt="Coctel" width="250px" height="150px">
  <p>Hamburguesa
    <select> 
      <option value="1">Hamburguesa de Pollo</option> 
      <option value="2">Hamburguesa de Carne</option> 
      <option value="3">Hmaburguesa de Doble Carne</option> 
      </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="/assets/imagenes/5.jpg" alt="Hamburguesa" width="250px" height="150px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </main>

<app-footer></app-footer>
